
<div class="ui segment doubling stackable">
  <h2 class="ui right floated header">Submit Form</h2>
  <div class="ui clearing divider"></div>
  <div class="container">
    <div class="ui horizontal list">
      <div class="item">
        Edit <i class="icon edit" [ngStyle]="{'color' : editing ? '#007bff' : '' }"></i>
      </div>
      <div class="item">
        Create <i class="icon save"  [ngStyle]="{'color' : !editing ? '#007bff' : '' }"></i>
      </div>
    </div>
    <div class="column">
      <form novalidate
            #form="ngForm"
            (ngSubmit)="submitForm(form)"
            (reset)="resetForm()">
        <mat-form-field>
          <input type="text" name="name" [(ngModel)]="product.name"
                 matInput placeholder="Name" required>
          <mat-hint>Enter Product Name</mat-hint>
          <mat-error>Error Data Input</mat-error>
        </mat-form-field>
        <mat-form-field>
          <input type="number" name="price" [(ngModel)]="product.price"
                 matInput placeholder="Price" required pattern="^[0-9\.]+$">
          <mat-hint>Enter Product Price</mat-hint>
          <mat-error>Error Data Input</mat-error>
        </mat-form-field>
        <mat-form-field>
          <input type="text" name="category" [(ngModel)]="product.category"
                  matInput placeholder="Name" required>
          <mat-hint>Enter Product Name</mat-hint>
          <mat-error>Error Data Input</mat-error>
        </mat-form-field>
        <button class="btn-block mt-1"
                type="submit"
                [disabled]="form.invalid"
                mat-raised-button
                color="primary"> {{editing ? 'Edit' : 'Create'}}</button>
        <button class="btn-block mt-1 red"
                type="reset"
                mat-raised-button>Reset</button>
        <button class="btn-block mt-1"
                mat-raised-button
                routerLink="/basic-project/">Cancel</button>

      </form>
    </div>
  </div>
</div>
