<div class="col-12 col-sm-12 ui card summary-wrapper" >
  <div class="content">
    <i class="right floated star icon"></i>
    <div class="header">Service</div>
    <div class="meta pl-5"><i class="right angle icon divider"></i>2018/04/03</div>
    <div class="description">
      <app-list-chapter [title]="'Summary'" [chapters]="chapters"

      ></app-list-chapter>
    </div>
  </div>
  <div class="extra content">
    <span class="right floated star">
      <i class="star icon"></i>
      Favorite
    </span>
  </div>
</div>
