

<basic-project-basic-message></basic-project-basic-message>
<div class="label pink attached top ui" style="position: relative">
  Basic Project
</div>
<h2 class="ui header dividing mt-3">
  <img src="../../../../assets/img/plugin.png">
  <div class="content">
    Basic Project
    <div class="sub header">Let's try to do what we have learned</div>
  </div>
</h2>

<div class="grid ui stackable mt-3">
  <div class="eleven wide column">
    <basic-project-table></basic-project-table>
  </div>
  <div class="five wide column">
    <basic-project-form></basic-project-form>
  </div>
</div>
