
<div class="ui segment mt-3">
  <div class="ui divider"></div>
  <p class="text-center"> {{ stateEvents | async | state }}</p>
  <h4 class="ui horizontal divider header">
    <i class="tag icon"></i>

  </h4>
</div>

<basic-project-basic-message></basic-project-basic-message>
<h2 class="ui header dividing m-3">
  <img src="../../../../assets/img/plugin.png">
  <div class="content">
    Basic Project
    <div class="sub header">Let's try to do what we have learned</div>
  </div>
</h2>

<div class="grid ui doubling stackable mt-3">
  <div class="column">
    <router-outlet></router-outlet>
  </div>
</div>
