<div class="ui fixed menu mb-3" >
  <div class="ui container" >
    <a routerLink="home" class="header item">
      <i class="icon large red angular"></i>
      Angular
    </a>
    <a routerLink="home" class="item">Home</a>
    <div class="ui simple dropdown item">
      Project <i class="dropdown icon"></i>
      <div class="menu">
        <a class="item" href="#">Disabled</a>
        <div class="divider"></div>
        <div class="header">SubTitle</div>
        <div class="item">
          <i class="dropdown icon"></i>
          Sub-Project
          <div class="menu">
            <a class="item" href="#">Disabled</a>
          </div>
        </div>
        <a class="item" href="#">Disabled</a>
      </div>
    </div>
  </div>
</div>
